<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Create New Account</title>
    <link rel="stylesheet" href="/public/asset/css/new.css">
  </head>
  <body>


<form action="/kingsmen" method="post">

    <h1>Create New Account</h1>
  
    <fieldset>
      <legend><span class="number">1</span> Your basic info</legend>
      <label for="name">Name:</label>
      <input type="text" id="username" name="name" placeholder="Username" >
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Password">

    
    </fieldset>
    
    <button type="submit">Sign Up</button>
    
  
  </form>

  <a href="/"><button style="width:400px; margin-left: 580px;">Back</button></a>
  

  </body>